#img, h1,{
  vertical-align:top;width: 100%             
                }
#logo {float: left;width: 30%;height: 20;}
header{width: 100%;}
aside{width: 25%;}
article{width: 70%;}
article,aside {vertical-align: top; display: inline-block;
}
aside{background-color: pink;}
article,header{background-color: white;}
body{background-color: aliceblue;}
nav,ul{vertical-align: top; color: blue;}
nav{width: 100%;}
nav li a {margin-top:25%;}
footer{background-color: blanchedalmond;}
body footer{margin-right: 5px;}
aside{margin-right: 5px;}
nav{margin-left: 20%;}
h1 h2{text-align: center;}
body{margin-bottom: 2px;}
nav a{display: inline-block; width: 20%; vertical-align: top; font-size: 20px;}
footer ul{display: inline-block; vertical-align: top;width: 100%;}
 ul h4{width: 20%;}
 footer ul {display: inline-block; vertical-align: top; width: 30%;}
 footer ul li {padding: 5px;}